.container {
    width: min(100%, 1440px);
    margin: auto;
  }

  /*  header start */
  

.header_main{
    display: flex;
    align-items: center;
    column-gap: calc(250 / 1440 * 100%);
    padding: 37px 72px;
    background: #2E0230;
}

.serch{
    border-radius: 8px;
    background: #FFF;  
    width: calc(560 / 1440 * 100%); 
    height: 48px ; 
}

.serch_button{
    
}



.login_cart{
    display: flex;
    column-gap: 8px;
}